
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&trans        &kp Q  &kp W  &kp E             &kp R             &kp T      &kp Y      &kp U              &kp I       &kp O       &kp P          &trans
&kp MINUS     &kp A  &kp S  &kp D             &mt LEFT_SHIFT F  &kp G      &kp H      &mt RIGHT_SHIFT J  &kp K       &kp L       &kp SEMICOLON  &kp SQT
&kp LEFT_ALT  &kp Z  &kp Z  &kp X             &kp C             &kp V      &kp N      &kp M              &sk COMMA   &kp PERIOD  &kp SLASH      &trans
                            &kp LEFT_COMMAND  &lt symbol TAB         &kp RET    &kp SPACE  &lt number BACKSPACE    &kp ESCAPE
            >;
        };

        symbol {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        number {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};

